#
# fingerprint driver configuration
#
menuconfig INPUT_FINGERPRINT
	bool "fingerprint"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_FINGERPRINT

config INPUT_FINGERPRINT_GSL6153_ZQL1520
	tristate "GSL6135_ZQL1520"
	depends on SPI
	help
	  Say Y here if you have a 88PM860x PMIC and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called 88pm860x-ts.
	  
config INPUT_FINGERPRINT_GF3258_ZQL1520
	tristate "GF3258_ZQL1520"
	depends on SPI
	help
	  Say Y here if you have a 88PM860x PMIC and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called 88pm860x-ts.
	  
config INPUT_FINGERPRINT_GF3258_ZQL1590
	tristate "GF3258_ZQL1590"
	depends on SPI
	help
	  Say Y here if you have a 88PM860x PMIC and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called 88pm860x-ts.
	  
config INPUT_FINGERPRINT_GSL6153_ZQL1590
	tristate "GSL6135_ZQL1520"
	depends on SPI
	help
	  Say Y here if you have a 88PM860x PMIC and want to enable
	  support for the built-in touchscreen.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called 88pm860x-ts	        
endif
